<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" > -->
<html xmlns:py="http://genshi.edgewall.org/">
<head>
    <link rel='stylesheet' type='text/css' href="${ url_for('static', filename='main.css') }"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Schildergenerator</title>
</head>
<body>
    <py:with vars="messages = get_flashed_messages(with_categories=True)">
        <ul class="flashes" py:if="messages">
            <li class="${ category }" py:for="category,message in messages" tabindex="0">${ message }</li>
        </ul>
    </py:with>
    <a href="${ url_for('index') }">Liste der fertigen Schilder</a>
    
    <form method="post" action="${ url_for('create') }" enctype="multipart/form-data">
        <div class="box">
           <label for="form:template">Wähle eine TeX-Vorlage:</label>
           <ul>
                <li py:for="textemplate in templates">
                    <py:choose>
                        <py:when test="defined('form')">
                            <py:choose>
                                <py:when test="textemplate == form.textemplate">
                                    <input type="radio" name="textemplate" id="tpl:${textemplate}" value="${textemplate}" checked="True"/>
                                </py:when>
                                <py:otherwise>
                                    <input type="radio" name="textemplate" id="tpl:${textemplate}" value="${textemplate}"/>
                                </py:otherwise>
                            </py:choose>
                        </py:when>
                        <py:otherwise>
                            <input type="radio" name="textemplate" id="tpl:${textemplate}" value="${textemplate}"/>
                        </py:otherwise>
                    </py:choose>
                    <label for="tpl:${textemplate}"><img src="${ url_for('tplthumbnail', tplname=textemplate, maxgeometry=72) }" alt="${textemplate}" title="${textemplate}"/></label>
                </li>
           </ul>
        </div><br/>
        <div class="box">
            <label for="form:headline">Überschrift</label>
            <textarea name="headline" id="form:headline" cols="35" rows="5"><py:if test="defined('form')">${form.headline}</py:if></textarea>
        </div>
        <div class="box">
           <label for="form:text">Text</label>
           <select name="markup">
                <py:choose>
                    <py:when test="not defined('form') or form.markup == 'rst' or form.markup == ''">
                        <option value="latex">LaTeX</option>
                        <option value="rst" selected="True">Wiki (reStructuredText)</option>
                    </py:when>
                    <py:when test="defined('form') and form.markup == 'latex'">
                        <option value="latex" selected="True">LaTeX</option>
                        <option value="rst">Wiki (reStructuredText)</option>
                    </py:when>
                </py:choose>
           </select>
           <textarea name="text" id="form:text" cols="35" rows="5"><py:if test="defined('form')">${form.text}</py:if></textarea>
        </div><br/>
        <div class="box">
        <input type="submit" value="Schild erstellen"/>
        </div><br/>
        <div class="box">
        <label for="form:img">Wähle ein Bild (falls auf Vorlage anwendbar):</label>
        <ul>
            <li>
                <py:choose>
                    <py:when test="defined('form')">
                            <input type="radio" name="img" id="img--none" value="__none" checked="${form.img == '__none'}"/>
                    </py:when>
                    <py:otherwise>
                            <input type="radio" name="img" id="img--none" value="__none" checked="checked" />
                    </py:otherwise>
                </py:choose>
                <label for="img--none">Kein Bild</label>
            </li>
            <li>
                <input type="radio" name="img" id="img--upload" value="__upload"/>
                <input type="file" name="imgupload"/>
                <label for="img--upload">Bild hochladen</label>
            </li>
        </ul>
        <ul>
            <li py:for="img in images">
                <py:choose>
                    <py:when test="defined('form')">
                        <py:choose>
                            <py:when test="img == form.img">
                                <input type="radio" name="img" id="img:${img}" value="${img}" checked="True"/>
                            </py:when>
                            <py:otherwise>
                                <input type="radio" name="img" id="img:${img}" value="${img}"/>
                            </py:otherwise>
                        </py:choose>
                    </py:when>
                    <py:otherwise>
                        <input type="radio" name="img" id="img:${img}" value="${img}"/>
                    </py:otherwise>
                </py:choose>
                <label for="img:${img}"><img src="${ url_for('thumbnail', imgname=img, maxgeometry=100) }" alt="${img}" title="${img}"/></label>
            </li>
        </ul>
        </div>
        <div class="box">
        <input type="submit" value="Schild erstellen"/>
        </div>
    </form>
</body>
</html>
