<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" > -->
<html xmlns:py="http://genshi.edgewall.org/">
<head>
    <link rel='stylesheet' type='text/css' href="${ url_for('static', filename='main.css') }"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Schildergenerator</title>
</head>
<body>
    <py:with vars="messages = get_flashed_messages(with_categories=True)">
        <ul class="flashes" py:if="messages">
            <li class="${ category }" py:for="category,message in messages" tabindex="0">${ message }</li>
        </ul>
    </py:with>
    <a href="${ url_for('index') }">Liste der fertigen Schilder</a>
    
    <form method="post" action="${ url_for('create') }" enctype="multipart/form-data">
        <div class="box">
           <label for="form:template">Wähle eine TeX-Vorlage:</label>
           <ul py:attrs="{'class':'collapsed'} if defined('form') else {}">
                <li py:for="textemplate in templates">
                    <input type="radio" name="textemplate" id="tpl:${textemplate}" value="${textemplate}" py:attrs="{'checked':'checked', 'onfocus':'this.parentElement.parentElement.className=\'\';'} if defined('form') and textemplate == form.textemplate else {}"/>
                    <label for="tpl:${textemplate}"><img src="${ url_for('tplthumbnail', tplname=textemplate, maxgeometry=80) }" alt="${textemplate}" title="${textemplate}"/></label>
                </li>
                <li class="onlywhencollapsed">
                    <button onclick="this.parentElement.parentElement.className=''; return false;" >Auswahl anzeigen</button>
                </li>
           </ul>
        </div><br/>
        <div class="box">
            <label for="form:headline">Überschrift</label>
            <textarea name="headline" id="form:headline" cols="35" rows="5"><py:if test="defined('form')">${form.headline}</py:if></textarea>
        </div>
        <div class="box">
           <label for="form:text">Text</label>
           <select name="markup">
                <option value="latex" py:attrs="{'selected':'True'} if defined('form') and form.markup == 'latex' else {}">LaTeX</option>
                <option value="rst" py:attrs="{'selected':'True'} if not defined('form') or form.markup == 'rst' or form.markup == '' else {}">Wiki (reStructuredText)</option>
           </select>
           <textarea name="text" id="form:text" cols="35" rows="5"><py:if test="defined('form')">${form.text}</py:if></textarea>
        </div><br/>
        <div class="box imageselect">
        <label for="form:img">Wähle ein Bild (falls auf Vorlage anwendbar):</label>
        <ul>
            <li>
                <input type="radio" name="img" id="img--none" value="__none" py:attrs="{'checked':'checked'} if defined('form') and form.img == '__none' else {}"/>
                <label for="img--none">Kein Bild</label>
            </li>
            <li>
                <input type="radio" name="img" id="img--upload" value="__upload"/>
                <input type="file" name="imgupload"/>
                <label for="img--upload">Bild hochladen (${', '.join(imageextensions)})</label>
            </li>
        </ul>
        <ul py:attrs="{'class':'collapsed'} if defined('form') else {}">      
     
            <li py:for="key in images.keys()">
                <ul>
                    <li py:for="img in images[key]">
                        <input type="radio" name="img" id="img:${img}" value="${img}" py:attrs="{'checked':'checked', 'onfocus':'this.parentElement.parentElement.className=\'\';'} if defined('form') and form.img == img else {}"/>
                        <label for="img:${img}"><img src="${ url_for('thumbnail', imgname=img, category=key, maxgeometry=100) }" alt="${img}" title="${img}"/></label>
                    </li>
                    
                    <li class="onlywhencollapsed">
                        <button onclick="this.parentElement.parentElement.className=''; return false;" >Auswahl anzeigen</button>
                    </li>
                    
                </ul>
            </li>
        </ul>
        </div>
        <br/>
        <div class="box">
        <py:if test="defined('form') and len(form.filename) > 5">
            <input type="hidden" name="filename" value="${form.filename}"/>
                <input id="form:reusefilename" type="checkbox" name="reusefilename"/>
                <label for="form:reusefilename">Überschreibe bisherige Version von ${form.filename}.</label>
            <br/>
        </py:if>
        <input type="submit" value="Schild erstellen"/>
        </div>
    </form>
</body>
</html>
